@import 'global';

    .cont3{
        
        @include texto($txt);
        margin: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10%;
    
        .imgP{
            width: 40px;
            margin: 10px;
            @include IP();
        }
    }
    
    .btn{
        
        width: 300px;
        padding: 10px;
        color: white;
        background-color: transparent;
        font-size:15px;
        border: 2px solid white;
        border-radius: 10px;
        transition: all 800ms cubic-bezier(0.30,-0.04, 0.5, 0.8);

        &:hover{
            color: white;
            border: 2px solid white;
            transform: scale(1.2);
            cursor: pointer;
        }
    }
    

@media screen and (min-width: 990px){
    
    .btn{
        color: $colorVr;
        font-size:20px;
        border: 2px solid $colorVr;
        &:hover{
            color: $colorCf;
            border: 2px solid $colorCf;
        }
    }
    
}
