.caja {
    width: 100px;
    height: 60px;
    background-color: cadetblue;
    margin: 20px 0;
}

.CajaRelativa{
    /*manipulacion en base a posicion inicial, esquina superior izquierda de cada caja*/
    position: relative; 
    /*SE pueden usar mediciones negativas en lugar de posiciones right y bot*/
    top: 20px; 
    left: 100px;

    /*right: 0;*/
    /*bottom: 0;*/ 
    /*margin-bottom: 30px; solo son los margenes al rededor del elemento*/
    /*solo se pueden mover dos posiciones a la vez una vertical y otra lateral (principales top y left)*/

}

.CajaAbsoluta{
    position: absolute;
    /*se acomoda en relacion a la pagina o padre inmediato, respectoa a elemento padre */
    top: 60%;
    right: 200px;
    margin: 20;
    background-color: yellowgreen;

}

.CajaRelativa2{ 
    position: relative;
    background-color: purple;
    height: 300px;
    left: 50px;
 
}
.CajaAbsoluta2{ /*respecto al padre*/
    position: absolute;
    top: 20%;
    background-color: blueviolet;
    height: 50px;
    width: 150px;
    left: 30px;
}

.CajaFixed{/*pertenece fija respecto a la posicion de pantalla*/
    position: fixed;
    background-color: blue;
    top:0;
    right: 0;
    z-index: 1;/*posicion para enviar frente o atras la imagen, prioridades donde 1 es mayor prioridad*/

}
.StickyContainer{
    border: 2px solid blue;
}

/*esta posicion requiere de un contenedor
presenta cualidades de fixed*/
.posSticky{
    position: sticky;
    top: 0;  
    left: 0;
    padding: 10px;
    border: 1px solid blue;
    background-color: white;
    
}

.img{
    transition: filter 800ms ease;
}
.img:hover{
    filter: sepia(1);
    cursor: pointer;
}
.animacionConteiner{
    width: 800px;
    height: 150px;
    background-color: #d3d3d3;
    position: relative;
    padding: 20px;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    animation: movercirculo 5s linear infinite;
}

/*fotogramas*/
@keyframes movercirculo{
    0%{
        left:0px;
        background-color: blue;
    }
    50%{
        left: 800px;
        background-color: violet;
    }
    100%{
        left: 0px;
        background-color: aquamarine;
    }
    

}
